<div class="table-responsive">
    <table>
        <tr>
            <td>Remaining Days</td>
            <td>{{ summary.estimated_remaining_days_until_completion }}</td>
        </tr>
        <tr>
            <td>Completion Date</td>
            <td>{{ summary.estimated_completion_date }}</td>
        </tr>
        <tr>
            <td>Remaining Duration</td>
            <td>{{ summary.estimated_remaining_duration_until_completion }}</td>
        </tr>
        <tr>
            <td>Total Duration</td>
            <td>{{ summary.estimated_total_duration_at_completion }}</td>
        </tr>
    </table>
</div>
