<div class="table-responsive">
    <table>
        <tr>
            <td>Estimated Days until Completion</td>
            <td>{{ summary.estimated_days_until_completion }}</td>
        </tr>
        <tr>
            <td>Estimated Date of Completion</td>
            <td>{{ summary.estimated_date_of_completion }}</td>
        </tr>
        <tr>
            <td>Estimated Remaining Duration until Completion</td>
            <td>{{ summary.estimated_remaining_duration_until_completion }}</td>
        </tr>
        <tr>
            <td>Estimated Total Duration at Completion</td>
            <td>{{ summary.estimated_total_duration_at_completion }}</td>
        </tr>
    </table>
</div>
