<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="container">
        <h1>Long Term Todo Statistics<br>{{ long_term_todo.title }}</h1>
        <br>

        <h2>Duration Summary</h2>
        <table class="table-responsive">
            <tr>
                <td>Total Duration</td>
                <td>{{ long_term_todo.convert_timedelta_to_string(long_term_todo.total_duration) }}</td>
            </tr>
            <tr>
                <td>All Days</td>
                <td>{{ all_days_count }}</td>
            </tr>
            <tr>
                <td>Active Days</td>
                <td>{{ active_days_count }} ({{ active_days_percents }} %)</td>
            </tr>
            <tr>
                <td>Average Daily Duration (all days)</td>
                <td>{{ average_daily_duration_all_days }}</td>
            </tr>
            <tr>
                <td>Average Daily Duration (active days)</td>
                <td>{{ average_daily_duration_active_days }}</td>
            </tr>
        </table>
        <br>

        <h2>Progress Summary</h2>
        <table class="table-responsive">
            <tr>
                <td>Progress Goal</td>
                <td>{{ long_term_todo.progress_goal }}</td>
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{ long_term_todo.progress }} ({{ long_term_todo.progress_in_percents }} %)</td>
            </tr>
            <tr>
                <td>All Days</td>
                <td>{{ all_days_count }}</td>
            </tr>
            <tr>
                <td>Active Days</td>
                <td>{{ active_days_count }} ({{ active_days_percents }} %)</td>
            </tr>
            <tr>
                <td>Average Daily Progress (all days)</td>
                <td>{{ average_daily_progress_all_days }} ({{ average_daily_progress_all_days_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Average Daily Progress (active days)</td>
                <td>{{ average_daily_progress_active_days }} ({{ average_daily_progress_active_days_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Estimated Days until Completion</td>
                <td>{{ estimated_days_until_completion }}</td>
            </tr>
            <tr>
                <td>Estimated Date of Completion</td>
                <td>{{ estimated_date_of_completion }}</td>
            </tr>
        </table>
        <br>

        <form action="{{ url_for('get_long_term_todo_statistics', long_term_todo_id=long_term_todo.id) }}" method="GET">
            <div class="form-check">
                <label class="form-check-label" for="as_percents">As percents</label>
                <input class="form-check-input" type="checkbox" name="as_percents" id="as_percents"
                    {% if as_percents %} checked {% endif %}>
            </div>
            <div>
                <label class="select-label" for="time_span_last_x_days">Time Span</label>
                <select class="form-select" id="time_span_last_x_days" name="time_span_last_x_days">
                    <option value="0" {% if time_span_last_x_days == 0 %} selected {% endif %}>All Days</option>
                    <option value="14" {% if time_span_last_x_days == 14 %} selected {% endif %}>Last 14 Days</option>
                    <option value="30" {% if time_span_last_x_days == 30 %} selected {% endif %}>Last 30 Days</option>
                    <option value="60" {% if time_span_last_x_days == 60 %} selected {% endif %}>Last 60 Days</option>
                    <option value="90" {% if time_span_last_x_days == 90 %} selected {% endif %}>Last 90 Days</option>
                    <option value="180" {% if time_span_last_x_days == 180 %} selected {% endif %}>Last 180 Days</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <br>

        <h2>Duration Chart</h2>
        <!--
        TODO
        {% include "long_term_todo_statistics/duration_chart.html" %}
        -->

        <h2>Progress Chart</h2>
        <!--
        TODO
        {% include "long_term_todo_statistics/duration_chart.html" %}
        -->

        <h2></h2>
        <div style="margin-top: 20px;" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Progress</th>
                        <th scope="col">Progress (%)</th>
                        <th scope="col">Daily Progress</th>
                        <th scope="col">Daily Progress (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in table_data %}
                        <tr {% if item["is_active_day"] %} class="bg-success" {% else %} class="bg-danger" {% endif %}>
                            <td> {{ item["date"] }}</td>
                            <td> {{ long_term_todo.convert_timedelta_to_string(item["duration"]) }}</td>
                            <td> {{ item["progress"] }}</td>
                            <td> {{ item["progress_as_percents"] }} </td>
                            <td> {{ item["daily_progress"] }} </td>
                            <td> {{ item["daily_progress_as_percents"] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
</body>
</html>
