<div class="table-responsive">
    <table>
        {% if long_term_todo.total_duration %}
            <tr>
                <td>Total Duration</td>
                <td>{{ long_term_todo.convert_timedelta_to_string(long_term_todo.total_duration) }}</td>
            </tr>
            <tr>
                <td>Duration in Time Span</td>
                <td>{{ long_term_todo.convert_timedelta_to_string(summary.duration_in_time_span) }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>All Days</td>
            <td>{{ summary.all_days_count }}</td>
        </tr>
        <tr>
            <td>Active Days</td>
            <td>{{ summary.active_days_count }} ({{ summary.active_days_in_percents }} %)</td>
        </tr>

        {% if long_term_todo.progress_goal %}
            <tr>
                <td>Progress Goal</td>
                <td>{{ long_term_todo.progress_goal }}</td>
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{ long_term_todo.progress }} ({{ long_term_todo.progress_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Remaining Progress</td>
                <td>{{ summary.remaining_progress }} ({{ summary.remaining_progress_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Progress Delta</td>
                <td>{{ summary.progress_delta }} ({{ summary.progress_delta_in_percents }} %)</td>
            </tr>
        {% endif %}
    </table>
</div>