<div class="table-responsive">
    <table>
        <tr>
            <td>All Days</td>
            <td>{{ summary.all_days_count }}</td>
        </tr>
        <tr>
            <td>Active Days</td>
            <td>{{ summary.active_days_count }} ({{ summary.active_days_percents }} %)</td>
        </tr>

        <!------------------------------------- Duration ---------------------------------------------------->
        {%if long_term_todo.total_duration %}
            <tr>
                <td>Total Duration</td>
                <td>{{ long_term_todo.convert_timedelta_to_string(long_term_todo.total_duration) }}</td>
            </tr>
            <tr>
                <td>Average Daily Duration (all days)</td>
                <td>{{ summary.average_daily_duration_all_days }}</td>
            </tr>
            <tr>
                <td>Average Daily Duration (active days)</td>
                <td>{{ summary.average_daily_duration_active_days }}</td>
            </tr>
        {% endif %}

        <!------------------------------------- Progress ---------------------------------------------------->
        {% if long_term_todo.progress_goal %}
            <tr>
                <td>Progress Goal</td>
                <td>{{ long_term_todo.progress_goal }}</td>
            </tr>
            <tr>
                <td>Progress</td>
                <td>{{ long_term_todo.progress }} ({{ long_term_todo.progress_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Average Daily Progress (all days)</td>
                <td>{{ summary.average_daily_progress_all_days }} ({{ summary.average_daily_progress_all_days_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Average Daily Progress (active days)</td>
                <td>{{ summary.average_daily_progress_active_days }} ({{ summary.average_daily_progress_active_days_in_percents }} %)</td>
            </tr>
            <tr>
                <td>Estimated Days until Completion</td>
                <td>{{ summary.estimated_days_until_completion }}</td>
            </tr>
            <tr>
                <td>Estimated Date of Completion</td>
                <td>{{ summary.estimated_date_of_completion }}</td>
            </tr>
        {% endif %}
    </table>
</div>