<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
</head>
<body>
    <div style="margin-top: 50px;" class="container">
        <h1>Todo Lists</h1>
        <br>

        <h3>Add Daily Todo List</h3>
        <form action="{{ url_for('add_daily_todo_list') }}" method="post">
            <div class="form-group">
                <select class="form-control" name="day">
                    <option value="{{ today }}">Today: {{ today }}</option>
                    <option value="{{ tomorrow }}">Tomorrow: {{ tomorrow }}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
        <br>

        <h3>Add Todo List with Custom Title</h3>
        <form action="{{ url_for('add_todo_list') }}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="title">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
        <br>

        <h3>Sort Todo Lists</h3>
        <form action="{{ url_for('sort_todo_lists') }}" method="post">
            <div class="form-group">
                <select class="form-control" name="sort_by">
                    <option value="title"
                            {% if sort_by == "title" %} selected {% endif %}>
                        Title
                    </option>
                    <option value="created_at"
                            {% if sort_by == "created_at" %} selected {% endif %}>
                        Created at
                    </option>
                    <option value="none"
                            {% if sort_by == "none" %} selected {% endif %}>
                        None
                    </option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" name="ascending_or_descending">
                    <option value="ascending"
                            {% if ascending_or_descending == "ascending" %} selected {% endif %}>
                        Ascending
                    </option>
                    <option value="descending"
                            {% if ascending_or_descending == "descending" %} selected {% endif %}>
                        Descending
                    </option>
                    <option value="none"
                            {% if ascending_or_descending == "none" %} selected {% endif %}>
                        None
                    </option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">OK</button>
        </form>

        <div style="margin-top: 20px;" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for todo_list in todo_lists %}
                    {% include "todo_lists/todo_lists_table_row.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
</body>
</html>
