<tr>
    <td>
        <input class="form-check-input" type="checkbox" name="completed" disabled
               {% if todo.completed %} checked {% endif %}>
    </td>
    <td style="min-width: 175px">
        <form>
            <textarea class="form-control" name="title" readonly>{{ todo.title }}</textarea>
        </form>
    </td>
    <td>
        {{ todo.timestamp_completed or 'n/a' }}
    </td>
    <td>
        {{ todo.progress or 'n/a' }}
    </td>
    <td>
        {{ todo.progress_in_percents or 'n/a' }}
    </td>
</tr>
