<tr>
    <td>
        <input class="form-check-input" type="checkbox" name="completed" disabled
               {% if todo.completed %} checked {% endif %}>
    </td>
    <td>
        <input class="form-check-input" type="checkbox" name="high_priority" disabled
               {% if todo.high_priority %} checked {% endif %}>
    </td>
    <td style="min-width:100px">
        <form>
            <textarea class="form-control" name="title" readonly>{{ todo.title }}</textarea>
        </form>
    </td>
    <td>
        {{ todo.timestamp_created }}
    </td>
    <td>
        {{ todo.timestamp_started or 'n/a' }}
    </td>
    <td>
        {{ todo.timestamp_completed or 'n/a' }}
    </td>
    <td>
        {{ todo.duration or 'n/a' }}
    </td>
</tr>
