<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="container">
        <h1>{{ long_term_todo.title }} [Long Term Todo]</h1>
        <br>
        <h4>Progress: {{ long_term_todo.progress }}</h4>
        <!-- TODO no own line for percents, just show in braces -->
        <h4>Progress Goal: {{ long_term_todo.progress_goal }}</h4>
        <h4>Progress in %: {{ long_term_todo.progress_in_percents }}</h4>
        <!-- TODO implement calculation for these params -->
        <h4>Average Daily Progress (all days): {{ average_daily_progress_all_days }}</h4>
        <h4>Average Daily Progress in % (all days): {{ average_daily_progress_all_days_in_percents }}</h4>
        <h4>Average Daily Progress (only active days): {{ average_daily_progress_active_days }}</h4>
        <h4>Average Daily Progress in % (only active days): {{ average_daily_progress_active_days_in_percents }}</h4>
        <br>
        <label for="as_percents">As percents: </label>
        <!-- Also including the url in the condition. Passing 'not as_percents' does not work, always passes False. -->
        <input class="form-check-input" type="checkbox" name="as_percents" id="as_percents"
           {% if as_percents %}
               onclick="window.location.href='{{ url_for('get_long_term_todo_progress_overview', id=long_term_todo.id, as_percents=False) }}'"
               checked
           {% else %}
                onclick="window.location.href='{{ url_for('get_long_term_todo_progress_overview', id=long_term_todo.id, as_percents=True) }}'"
           {% endif %}
        >

        {% include "long_term_todo_progress_chart.html" %}

        <div style="margin-top: 20px;" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Has Progress</th>
                        <th scope="col">Progress</th>
                        <th scope="col">Progress<br>in %</th>
                        <th scope="col">Daily<br>Progress</th>
                        <th scope="col">Daily<br>Progress<br>in %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in table_data %}
                        <tr {% if item["has_progress"] %} class="bg-success" {% else %} class="bg-danger" {% endif %}>
                            <td> {{ item["date"] }}</td>
                            <td> {{ item["has_progress"] }} </td>
                            <td> {{ item["progress"] }}</td>
                            <td> {{ item["progress_in_percents"] }} </td>
                            <td> {{ item["daily_progress"] }} </td>
                            <td> {{ item["daily_progress_in_percents"] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
</body>
</html>
