<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
</head>
<body>
    <div style="margin-top: 50px;" class="container">
        <h1>Todo Lists</h1>
        <form action="{{ url_for('add_todo_list') }}" method="post">
            <div class="form-group row">
                <div class="col">
                    <input class="form-control" type="text" name="title" placeholder="Enter todo list title...">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>
        <div style="margin-top: 20px;" class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a class="btn btn-primary btn-sm"
                               href="{{ url_for('update_setting_for_todo_lists', key='sort_todo_lists_by', value='title_ascending') }}">
                                <i class="fas fa-arrow-down" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary btn-sm"
                               href="{{ url_for('update_setting_for_todo_lists', key='sort_todo_lists_by', value='title_descending') }}">
                                <i class="fas fa-arrow-up" aria-hidden="true"></i>
                            </a>
                            <br>
                            Title
                        </th>
                        <th>
                            <a class="btn btn-primary btn-sm"
                               href="{{ url_for('update_setting_for_todo_lists', key='sort_todo_lists_by', value='created_at_ascending') }}">
                                <i class="fas fa-arrow-down" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-primary btn-sm"
                               href="{{ url_for('update_setting_for_todo_lists', key='sort_todo_lists_by', value='created_at_descending') }}">
                                <i class="fas fa-arrow-up" aria-hidden="true"></i>
                            </a>
                            <br>
                            Created at
                        </th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td>
                                <form action="{{ url_for('edit_todo_list_title', id=todo_list.id) }}" method="post">
                                    <div class="form-group row">
                                        <div class="col">
                                             <input class="form-control" type="text" name="title"
                                                    value="{{ todo_list.title }}">
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary" type="submit">OK</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>{{ todo_list.timestamp_created }}</td>
                            <td>
                                <a class="btn btn-secondary" href="{{ url_for('get_todo_list', id=todo_list.id) }}">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="{{ url_for('delete_todo_list', id=todo_list.id) }}">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
</body>
</html>
