<tr {% if todo.timestamp_started and not todo.completed %} class="bg-warning" {% endif %}>
    <td>
        <input class="form-check-input" type="checkbox" name="completed"
               onclick="window.location.href='{{ url_for('toggle_todo_completed', todo_id=todo.id, todo_list_id=todo_list_id) }}'"
               {% if todo.completed %} checked {% endif %}>
    </td>
    <td>
        <input class="form-check-input" type="checkbox" name="high_priority"
               onclick="window.location.href='{{ url_for('toggle_todo_priority', todo_id=todo.id, todo_list_id=todo_list_id) }}'"
               {% if todo.high_priority %} checked {% endif %}>
    </td>
    <td style="min-width: 175px">
        <form action="{{ url_for('edit_todo_title', todo_id=todo.id, todo_list_id=todo_list_id) }}" method="post">
            <textarea class="form-control" name="title">{{ todo.title }}</textarea>
            <button class="btn btn-primary" type="submit">OK</button>
        </form>
    </td>
    <td>
    {% if todo.completed %}
        n/a
    {% elif todo.timestamp_started %}
        <a class="btn btn-danger"
            href="{{ url_for('stop_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}">
            <i class="fas fa-ban"></i>
        </a>
    {% else %}
        <a class="btn btn-success"
            href="{{ url_for('start_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}">
            <i class="fas fa-play"></i>
        </a>
    {% endif %}
    </td>
    <td>
        {{ todo.timestamp_created }}
    </td>
    <td>
        {{ todo.timestamp_started or 'n/a' }}
    </td>
    <td>
        {{ todo.timestamp_completed or 'n/a' }}
    </td>
    <td>
        {{ todo.duration or 'n/a' }}
    </td>
    <td>
        {% if todo.long_term_todo_id %}
        <a class="btn btn-secondary"
           href="{{ url_for('get_long_term_todo', id=todo.long_term_todo_id) }}">
            <i class="fas fa-level-up-alt"></i>
        </a>
        {% else %}
        n/a
        {% endif %}
    </td>
    <td>
        {% if todo.progress_goal %}
        <form action="{{ url_for('edit_todo_progress', todo_id=todo.id, todo_list_id=todo_list_id) }}" method="post">
            <input class="form-control" type="number" name="progress" min="0" value="{{ todo.progress }}">
            <button class="btn btn-primary" type="submit">OK</button>
        </form>
        {% else %}
        n/a
        {% endif %}
    </td>
    <td>
        {{ todo.progress_goal or 'n/a' }}
    </td>
    <td>
        {{ todo.progress_in_percents or 'n/a' }}
    </td>
    <td>
        <a class="btn btn-secondary"
           href="{{ url_for('delete_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}">
            <i class="fas fa-trash" aria-hidden="true"></i>
        </a>
    </td>
</tr>
