<tr>
    <td>
        <input class="form-check-input" type="checkbox" name="completed"
               onclick="window.location.href='{{ url_for('update_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}'"
               {% if todo.completed %} checked {% endif %}>
    </td>
    <td style="min-width:100px">
        <form action="{{ url_for('edit_todo_title', todo_id=todo.id, todo_list_id=todo_list_id) }}" method="post">
            <textarea class="form-control" name="title">{{ todo.title }}</textarea>
            <button class="btn btn-primary" type="submit">OK</button>
        </form>
    </td>
    <td>
        <input class="form-check-input" type="checkbox" name="high_priority"
               onclick="window.location.href='{{ url_for('toggle_todo_priority', todo_id=todo.id, todo_list_id=todo_list_id) }}'"
               {% if todo.high_priority %} checked {% endif %}>
    </td>
    <td>
        {{ todo.timestamp_created }}
    </td>
    <td>
        {{ todo.timestamp_started or 'n/a' }}
    </td>
    <td>
        {{ todo.timestamp_completed or 'n/a' }}
    </td>
    <td>
        {{ todo.duration or 'n/a' }}
    </td>
    <td>
        <a class="btn btn-primary"
           href="{{ url_for('start_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}">
            <i class="fas fa-play"></i>
        </a>
    </td>
    <td>
        <a class="btn btn-secondary"
           href="{{ url_for('delete_todo', todo_id=todo.id, todo_list_id=todo_list_id) }}">
            <i class="fas fa-trash" aria-hidden="true"></i>
        </a>
    </td>
</tr>
